*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-top: 18px;
}
a{
  text-decoration: none;
}

#sec1{
  position: fixed; /* Locks the navbar in place */
  top: 0;          /* Sticks to the top */
  left: 0;         /* Aligns to the left edge */
  width: 100%;     /* Full width */
  z-index: 1000;   /* Ensures it stays above other content */
  background: rgb(1, 1, 19); /* Optional: Add a background */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/*NAVBAR STYLING*/
nav{
  box-shadow: 5px 5px 10px 0px rgba(173, 143, 255, 0.308);
}
 nav #container{
  display: flex;
  flex-direction: row;
  
  margin-top: 10px;
  

}
 nav .logo{
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
  margin-right: auto;
  padding-bottom:10px ;
  
 
 
  
}
.logo:hover{
  cursor: pointer;
   
}
li{
 
 
 margin-left: 40px;
 color:rgb(236, 95, 0);
  
}
li:hover{
  background-color: orangered;
  color: white;
  cursor: pointer;
  list-style-type: none;
}
nav ul{
   display: flex;
  gap: 15px;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 150px;
  
  
  
}
#shoppingcart{
  display:flex;
  justify-content: flex-end;
  color: white;
  margin-left: 70px;
  
}
#shoppingcart:hover{
  cursor: pointer;
}



#a{
  margin-top: 20px;
  color: antiquewhite;
  background-color: rgb(1, 1, 19);
   text-align:center;
    padding-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menuicon{
  display: none;
}
#menuicon i{
  color: white;
  font-size: 16px;
  padding-left: 60px;
  margin-left: 20px;
}
#menuicon:hover{
  cursor: pointer;

}

.CrossMark{
 font-size: 24px;
 color: white;  
 display: none;

}
@media(max-width:600px){
  #menuList{
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: rgb(1, 1, 19);
    gap: 0;
    display: none;
    
    

    
    
  }
 
   
  nav ul{
   display:flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   list-style: none;
  }
 

  nav ul li{
    padding: 5px;
   
  }
  #menuicon{
    display: flex;
    
  }
  .CrossMark{
    display: flex;
    justify-content: flex-end;
    left: 0;
    padding: 5px;
    margin-left: 20px;

    
  
   
    
  }
  .CrossMark:hover{
    color: red;
    cursor: pointer;
  }
  .cart-item-count{
    position: absolute;
    top: 0;
    right: 0;
     margin-top: 5px;
   
    width: 15px;
    height: 15px;
    background-color: orangered;
    border-radius: 50%;
    font-size: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}





#productdetails{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  margin-top: 10px;
  padding-top: 35px;

}
#productimg{
  width: 100px;
  height: 100px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
#productimg:hover{
  transform: scale(1.5);
  cursor: pointer;
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating{
  font-size: 8px;
  color: orangered;
}

#productname{
  font-size: 8px;
   font-weight: 400;
   font-style: bold;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#productprice{
  font-size: 9px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#addtocart{
  font-size: 8px;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  padding: 2px;
  width: 60px;
  border: none;
  height:12x ;
}
#addtocart:hover{
  background-color: white;
  color:orangered;
  cursor: pointer;
  border: 1px solid orange;
}
footer{
  background-color: rgb(1, 1, 19);
  margin-top: 10px;
  
}
#socialmediaicon{
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#socialicon{
  margin-left: 10px;

  
}
#socialicon:hover{
  color: orangered;
  cursor: pointer;
}
.social{
  color: white;
}
#footerparagraph{
  color: white;
  text-align: center;
  font-size: 12px;
}
#copy{
  color:orangered;
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}
#explore{
  background-color: rgb(247, 98, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin-top: 5px;
  flex-wrap: wrap;
  padding: 10px;
}
#exploreparagraph{
  font-size: 36px;
  color: rgb(1, 1, 19);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: 600;
  
}

#exploreimg{
  width: 300px;
  height: 320px;
}

#delivery{
  color: white;
  font-size: 20px;
  text-align: center;
}
.get3{
 
  background-color: rgb(4, 4, 29);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 100px;
}
.get3 a{
  color: white;
}
.get3:hover{
  background-color:rgb(44, 44, 77) ;
  
}
#fashion{
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
 
  border-bottom: 2px solid white;
  border-style: double;
}
#Discount{
  font-size: 20px;
  text-align: center;
 font-weight: 400;
  color:rgb(1, 1, 19); 
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#show{
  
  background-color: rgb(4, 4, 29);
  
}
#exclusiveimg{
  height: 200px;
  width: 150px;
  border-radius: 1px;
  transition: all 0.3s ease-out;
}
#exclusiveimg:hover{
  transform: scale(1.1);
  cursor: pointer;
}
#p3{
  text-align: center;
  color:rgb(1, 1, 19);
  font-size: 20px;
}
#p2{
  color: white;
  font-size: 9px;
}
#exclusivename{
  color: white;
  margin-top: 5px;
  font-size: 18px;
}
#exclusive{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.get{
  background-color: rgb(247, 98, 45);
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(img/contactbackground.jpg);
  background-position: center;
 margin-top: 10px;
  
  
}
.getdiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  
}
.get1{
  color:orangered;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
}
.get2{
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-top: 10px;
}
.get32{
 
  background-color: rgb(4, 4, 29);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  width: 150px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
  
}
.get32 a{
  color: white;
}
.get32:hover{
  background-color:rgb(44, 44, 77) ;
  
}
#p1{
  display: flex;
  align-items: center;
  flex-direction: column;
   gap: 10px;
   padding: 10px;
   border: 0.5px solid   rgb(42, 48, 107) ;
   margin-top: 10px;
   border-radius: 5px;
   margin-bottom: 10px;
   margin-right: 2px;
     text-align: center;
    box-shadow: 5px 5px 10px 0px rgba(173, 143, 255, 0.308);
  
}
#tell{
  color: rgb(1, 1, 19);
  font-size: 12px;
  padding: 5px;
}
#free{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}
#approach{
  font-size: 10px;
}
#tellinfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.contactno{
  margin-top: 15px;
  text-align: center;
}
#send{
  background-color: orangered;
  border: none;
  width: 100px;
  margin-top: 10px;
}
#message{
  height: 100px;
  
}
#sec3{
  background-color: rgb(247, 98, 45);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin-top: 5px;
  flex-wrap: wrap;
}
#sec3div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#sec3img{
  width: 300px;
  height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.5px solid   rgb(42, 48, 107);
  box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.308);
}
#secparagraph{
  font-size: 30px;
  color: white;
  margin-left: 40px;
  
}
#color{
  background-color: rgb(1, 1, 19);
}

#join{
  text-align: center;
}

/*Testimonials*/

.test1{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  
  
}
.test2{
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
#wholetestimonial{
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents line breaks */
  -webkit-overflow-scrolling: touch;
 
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 30px;

}
.testimonials{
  
 
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  
  
 
  

}


.testimonialimg{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

 
}
.testimonialmsg{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;

 
}
.testimonialname{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;

}


/*ABOUT STYLING*/

#secabout{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  margin-top: 5px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url(img/nairobi.png);
  background-position: center;
  background-position: center;
}
#secaboutimg{
  height: 100px;
  width: 250px;
  padding: 5px;
  box-shadow: 0px 0px 10px 5px rgb(255, 255, 255) ;

}
#pA1{
  display: flex;
  padding: 5px;
  color:white ;
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  padding-right: 30px;
}
#secproductname{
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
}

#size{
  width: 100px;
  border: 1px solid orange;
  border-radius: 5px;
}
.trends{
  background: white;
  display: flex;
  gap: 5px;
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents line breaks */
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
}
.trendsdiv{
   
  
  justify-content: center;
  align-items: center;
  flex: 1;
  
  padding: 10px;
}
.trendsimg{
  width: 150px;
  height: 200px;
  border-radius: 2px;
}
.trendsname{
  color: rgb(1, 1, 19);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
#tshirt{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 40px;

}
#ttshirt{
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;

}
.shirt{
  color: orangered;
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  
}
.shirttitle{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
.shirtparagraph{
  text-align: center;
  font-size: 9px;
  padding-top: 10px;
}

#sec4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url(img/shopping\ background.png);
  background-size: cover;
}

.sec4title{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  color: white;
  
}
.sec4paragraph{
  text-align: center;
  font-size: 14px;
  padding: 20px;
  color: white;
}
.sec4button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgb(1, 1, 19);
  margin-bottom: 10px;
}


/*PRODUCT*/
#productpricecancel{
  text-decoration: line-through;
  font-size: 8px;
  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#offerbtn{
  border: none;
  background-color:rgb(1, 1, 19) ;
  color: white;
  font-size: 6px;
  border-radius: 2px;
  height: 10px;
  width: 30px;
  
}
#offerfew{
  border: none;
  font-size: 6px;
  height: 10px;
  font-family: sans-serif;
  padding: 2px;
  color: red;
  background-color: rgb(2, 1, 1);
}

#drag-container{
 
   background-color: rgb(121, 119, 119);
  width: 100%;
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents line breaks */
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  position: fixed;

}

#displaylist{

  display: inline-flex; /* Makes list items horizontal */
  list-style: none;

}

#displaylist li{

  
  display: inline-block; /* Ensures items stay in a row */
  margin: 0 10px;

  
}
#displaylist li a {
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
 
}

#displaylist li a:hover {
  background: #a8a8a8;
  cursor: pointer;
}
#drag{
  color: white;
  text-decoration: none;
}
#drag:hover{
  background-color:rgb(151, 151, 151) ;
  cursor: pointer;
}
#Giftsgen{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
 justify-content: center;
 padding: 5px;
}
#shoesgn{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
 justify-content: center;
 padding: 5px;
}
#clothesgn{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
 justify-content: center;
 padding: 5px;
}






/*CART STYLING*/
.cart{
  position: fixed;
  top: 0;
  right: -100%;
  width:200px;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  transition: 0.5s;
  padding-top: 60px;

}
.cart.active{
  right:0;
}
.Cart-title{
  text-align: center;
  font-size: 18px;
}
.cart-box{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.cart-box img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 20px;
}
.cart-detail{
  display: grid;
  gap: 8px;
  margin-right: auto;
}

.cart-product-name{
  font-size: 10px;
  line-height: 1;
}
.cart-price{
  font-weight: 500;
}
.cart-quantity{
  display: flex;
  width:100px;
  border: 1px solid #999;
  border-radius: 6px;
}
.cart-quantity button{
  background: transparent;
  width: 30px;
  border:none;
  font-size: 20px;
  cursor: pointer;

}
.cart-quantity #decrement{
  color: #999;
}
.cart-quantity .number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
}
.cart-remove{
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.cart-item-count{
  position: absolute;
  top: 0;
  right: 125px;
   margin-top: 5px;
 
  width: 15px;
  height: 15px;
  background-color: orangered;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.total{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #333;
  margin-top: 20px;
  font-size: 18px;
}
.total-price{
  margin-left:10px;
  font-weight: 600;
}
.btn-addtocart{
  display: block;
  padding: 10px 30px;
  background: orangered;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  margin: 20px auto 0;
  cursor: pointer;
}
#cartclose{
  position:absolute;
  top: 20px;
  right: 15px;
  font-size:24px ;
  cursor: pointer;
  padding-top: 30px;
}
.duplicate-highlight {
  animation: highlight 1s;
  border-left: 3px solid red;
}
@keyframes highlight {
  0% { background-color: rgba(255,0,0,0.1); }
  100% { background-color: transparent; }
}